# Ignore environment variable files
.env

# Ignore Google Cloud credentials
config/*.json

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore cache or temporary files
*.log
*.tmp
*.bak

# Ignore virtual environment folders
venv/
env/
